/* ==== GENERAL ====*/
body{
	padding-top: 50px;
	background: url('../img/texture.png') top left repeat;
}

.wrap{
	padding-top: 50px;
	padding-bottom: 50px;
}

.header-section{
 	text-align: center;
 	-webkit - font -smoothing: antialiased;
	text-rendering: optimizelegibility;

}

h1{
	font-family: 'graduate', cursive;
}

h2{
	font-family: 'pacifico', cursive;
}

h3{
	font-family: 'pacifico', cursive;
	font-size: 18px;
}


/* === TITLE & ENROLL*/
#title-enroll .jumbotron{
	background: url('../img/mainBackground.png') 50% 0 no-repeat fixed;
	-webkit - font -smoothing: antialiased;
	text-rendering: optimizelegibility;
	text-align: center;
	color: white;
}

/*WHAT WILL YOU LEARM*/
#what-learn{
	text-align: center;
}

/*==Course TARGET===*/
#course-target{
	background-color: #BF3E11;
	color: white;
}
/* === COURSE FEATURE ==*/
#course-features{
	background-color: white;
	text-align: center;
}

#course-features i{
	margin-top: 20px; /* aqui separamos los iconos del titulo*/
}

/* === 	CREATOR === */
#creator .left-side{
	text-align: center;
}
.badge.social{
	background:#95A5A6;
	font-size: 20px;
	height: 35px;
	width: 35px;
	text-align: center;
	line-height: 35px;
	margin-top: 5px;
	padding: 0;
	-webkit -border-radius:35px;
	-moz -border-radius:35px;
	border-radius: 35px;
	color: white;
}

.badge.social.twitter:hover{
	background: #55ACEE;
}

.badge.social.linkedin:hover{
	background: #4875B4;
}

.badge.social.blog:hover{
	background: #26C281;
}

/* ===PROMOTIONAL VIDEO ===*/
#promo-video {
	background: #563d7c;
	color: white;
}

/* === FOOTER === */
#footer{
	padding: 20px;
	background: #22313f;
	text-align: center;
	color:white;
}

#footer a{
	color:#f5ab35;
}

#footer a:hover{
	color:#f9690e;
}